.landing {
  min-height: 100vh;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
}

.header p {
  color: #6b7280;
}

.landing-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1rem;
  justify-content: center;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.landing-section {
  background-color: var(--background-main-light);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.section-icon {
  width: 1.25rem;
  height: 1.25rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  gap: 0.5rem;
}

/* Announcements Styles */
.announcements {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.announcement {
  border-left: 4px solid #60a5fa;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #e6f3fa;
  .title-editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.announcement + .announcement {
  margin-top: 0.5em;
}

.announcement h3 {
  color: #1e3a8a;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.announcement p {
  color: #1e40af;
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1.5rem;
  h2 {
    color: var(--solid-main);
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.stats-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.statistic {
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-align: left;
  margin: 0rem 3rem;
  h3 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--solid-secondary);
    line-height: 1.2em;
  }
  p {
    font-size: 1rem;
    color: var(--solid-secondary-light);
  }
}

.stats-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.stats-caption {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;
  align-self: right;
}

.attendance-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  .attendance-rank {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: var(--gray-3);
  }
  .attendance-card {
    flex-direction:column;
    width: 100%;
  }
  h3 {
    text-align: left;
    color: var(--solid-secondary);
    margin-right: 3rem;
  }
  .event-attendance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  margin-bottom: 1rem;
}

.org-detail {
  font-size: 0.875rem;
  color: var(--solid-secondary-light);
  text-align: left;
}

.venue-text {
  font-size: 0.8rem;
  color: var(--solid-main-light);
  text-align: left;
}

.event-title {
  color: var(--solid-secondary);
}

.event-feed {
  max-height: 500px; /* Adjust based on your design */
  overflow-y: auto;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.event-card {
  transition: background-color 0.2s;
  text-align: left;
}

.event-title,
.org-detail,
.venue-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  color: var(--background-main-dark)
  text-align: center;
}

.empty-icon {
  margin-bottom: 12px;
  color: var(--solid-secondary-light);
}

/* Table Styles */

.deadlines,
.deadlines-editor {
  text-align: left;
  gap: 1rem;
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    background-color: var(--background-main-dark);
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #6b7280;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
  td {
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
    color: #111827;
    border-bottom: 1px solid #e5e7eb;
    white-space: nowrap;
    b {
      font-weight: 600;
    }
    div {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 786px) {
  .landing-container {
    flex-wrap: wrap;
  }
  .landing {
    padding: 2em 1em;
  }
  .landing-section {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .landing {
    padding: 2em 0.75em;
  }
  .landing-section {
    padding: 1em;
  }
  .landing {
    .deadlines {
      th {
        padding: 0.5rem 1rem;
      }
      td {
        font-size: 0.8rem;
        padding: 1rem 1rem;
      }
    }
  }
}
