@import url(vars.css);

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
              /* Custom scrollbar styles */
    ::-webkit-scrollbar {
      height: 14px;
      width: 14px;
    }
    
    
    ::-webkit-scrollbar-track {
      background-clip: padding-box;
      background-color: transparent;
      border: 4px solid transparent;
      border-radius: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: rgba(0, 0, 0, 0.151);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 8px;
    }
    /*
    :hover::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
    }*/
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
    
    ::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0;
    }
    
    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
}

:root {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    /*color-scheme: light dark;*/
    background-color: var(--background-main);
    color: var(--solid-main);
    text-align:center;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
  overflow-y: scroll;
}

.nav-bar {
    background-color: var(--background-secondary);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1em 1.4em 1em 1.4em;
    margin: 0.5em 5em 0em 5em;
    border-radius: 2em;
    position:sticky;
    top: 0.5em;
    z-index:2;
    box-shadow: inset
    0 0 0 2px rgba(255, 255, 255, 0),
    0.3em 0.3em 0.3em rgba(67, 71, 78, 0.6);

    .link {
        display:inline-block;
    }

    a {
        text-decoration: none;
        color: var(--solid-main-light);
        font-weight:400;
        padding: 1em 0.7em 1em 0.7em;
        border-radius: 1em;
    }

    h1 {
        font-size: 1.5em;
        color: var(--solid-main);

    }

    a:hover {
        background-color: var(--gray-2);
    }

    a.active {
        font-weight: 600;
        color: var(--solid-secondary)
    }
    

    .site-title{
        font-size:1.5em;
    }

}


.dropdown-box {
    border: 1px var(--solid-secondary);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;

    .dropdown-header {
        padding: 10px 15px;
        font-size: 1.5em;
        background-color: var(--background-secondary);
        cursor: pointer;
        font-weight: bold;
    }
    
    .dropdown-content.closed {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-in;
    }
    
    .dropdown-content.open {
        max-height: 20em;
        padding: 0.5em 0.75em;
    }
}

.tiptap {
    :first-child {
      margin-top: 0;
    }
  
    
    ul, 
    ol {
      padding: 0 1rem;
      li p{
        margin-bottom: 0.25em;
        margin-top: 0.25em;
      }
      ul,
      ol {
        margin-top: 0.25em;
      }
      margin: 1.25rem 1rem 1.25rem 0.4rem;

    }
  

    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      line-height: 1.1;
      margin-top: 2.5rem;
      text-wrap: pretty;
    }

    h1{
      max-width: 60%;
    }

    h2{
      max-width: 70%;
    }
  
    h1 {
      margin-top: 3.5rem;
      margin-bottom: 2.5rem;
    }

    h2 {
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }
  
    h1 { 
      font-size: 3.5em; 
    }
  
    h2 { 
      font-size: 2em; 
    }
  
    h3 { 
      font-size: 1.6em; 
      margin-bottom: 1em;
    }
  
    h4, 
    h5, 
    h6 { 
      font-size: 1rem; 
    }

    p{
      font-size: 1.05em;
      max-width: 90%;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  

    code {
      background-color: var(--purple-light);
      border-radius: 0.4rem;
      color: var(--black);
      font-size: 0.85rem;
      padding: 0.25em 0.3em;
    }
  
    pre {
      background: var(--black);
      border-radius: 0.5rem;
      color: var(--white);
      font-family: 'JetBrainsMono', monospace;
      margin: 1.5rem 0;
      padding: 0.75rem 1rem;
  
      code {
        background: none;
        color: inherit;
        font-size: 0.8rem;
        padding: 0;
      }
    }
  
    blockquote {
      border-left: 3px solid var(--gray-3);
      margin: 1.5rem 0;
      padding-left: 1rem;
    }
  
    hr {
      border: none;
      border-top: 1px solid var(--gray-2);
      margin: 2rem 0;
    }
  }


.box-editor, .guide {
    text-align: left;
}

  /* Base HTML and global element styles*/
.description-editor, .guide-page-edit {
    
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      
      html {
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        line-height: 1.5;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
      
      body {
        min-height: 25rem;
        margin: 0;
      }
      
      :first-child {
        margin-top: 0;
      }
      
      .tiptap {
        caret-color: var(--purple);
        margin: 0.25em;
      
        &:focus {
          outline: none;
        }
      }
      
      
      /* Specific element and component styles */
      button,
      input,
      select,
      textarea {
        background: var(--background-main-dark);
        border-radius: 0.5rem;
        border: none;
        color: var(--black);
        font-family: inherit;
        font-size: 0.7em;
        font-weight: 500;
        line-height: 1.15;
        margin: none;
        padding: 0.375rem 0.625rem;
        transition: all 0.2s cubic-bezier(0.65,0.05,0.36,1);
      
        &:hover {
          background-color: var(--gray-3);
          color: var(--black-contrast);
        }
      
        &[disabled] {
          background: var(--gray-1);
          color: var(--gray-4);
        }
      
        &:checked {
          accent-color: var(--purple);
        }
      
        &.primary {
          background: var(--black);
          color: var(--white);
      
          &:hover {
            background-color: var(--black-contrast);
          }
      
          &[disabled] {
            background: var(--gray-1);
            color: var(--gray-4);
          }
        }
      
        &.is-active {
          background: var(--solid-secondary);
          color: var(--white);
      
          &:hover {
            background-color: var(--solid-main);
            color: var(--white);
          }
        }
      }

      .description-text {
        font-size: 0.875em;
        line-height: 1.15;
        max-height: 10rem;
        overflow-y: auto;
      }
    
      button:not([disabled]),
      select:not([disabled]) {
        cursor: pointer;
      }
      
    
      .button-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
      }
      
      .control-group {
        position:sticky;
        top:5.5em;
        margin-right:2em;
        margin-left: 2em;
        z-index: 2;
        align-items: center;
        background-color: var(--gray-3);
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 1em;

      }
      
      [data-node-view-wrapper] > .control-group {
        padding: 0;
      }
      

}


.box-editor {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.25em 1em 0em 0.25em;
    background-color: var(--purple-light);
    position: relative;
}

.box-editor .three-lines-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    color: gray;
}

.box-editor .editor-header {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.box-editor .description-editor {
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5em;
}

.box-editor .content-editor {
    padding: 0.5em;
}


.box-editor .control-group {
    background-color: rgb(232, 231, 231);
    border-radius: 8px;
    padding: 4px;
}

.box-editor .delete-button {

    margin:0;
    padding:0;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
}

.box-editor .delete-button:hover {
    color: red;
}

.box-editor .editor-content {
    text-align: left;
}
